.footer
  padding-bottom: 100px
  &-block
    width: 10%
    display: flex
    flex-direction: column
    align-items: center
    margin-left: auto
    margin-right: auto
    &__links
      width: 100%
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 15px
    &__author
      font-size: 14px
      line-height: 16px
      color: #D8D8D8
