.advantage
  width: 87%
  background: #FFFFFF
  box-shadow: 7px 4px 24px rgba(26, 48, 96, 0.51)
  border-radius: 26px
  margin-left: auto
  margin-right: auto
  padding-top: 50px
  padding-bottom: 50px
  margin-bottom: 100px
  &-block
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    &__item
      width: 49%
      display: flex
      align-items: center
      &:nth-child(-n+2)
        margin-bottom: 60px
      & > p
        color: #1A3060
        font-size: 17px
        line-height: 20px
        margin: 0
    &__image-1
      display: block
      margin-right: 53px
    &__image-2
      display: block
      margin-right: 41px
    &__image-3
      display: block
      margin-right: 41px
    &__image-4
      display: block
      margin-right: 46px
