.advantage
  background: #FFFFFF
  box-shadow: 7px 4px 24px rgba(26, 48, 96, 0.51)
  border-radius: 26px
  width: 1185px
  max-width: 92%
  margin-left: auto
  margin-right: auto
  margin-bottom: 100px
  padding: 50px 0px
  position: relative
  z-index: 1000
  &-block
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: 1030px
    max-width: 94%
    margin-left: auto
    margin-right: auto
    &__item
      width: 49%
      display: flex
      align-items: center
      &:nth-child(-n+2)
        margin-bottom: 60px
      & > p
        color: #1A3060
        font-size: 17px
        line-height: 20px
        margin: 0
    &__image-1
      display: block
      margin-right: 53px
    &__image-2
      display: block
      margin-right: 41px
    &__image-3
      display: block
      margin-right: 41px
    &__image-4
      display: block
      margin-right: 46px
@media ( max-width: 1000px )
  .advantage
    &-block
      &__item
        &:nth-child(-n+2)
          margin-bottom: 35px
        & > p
          font-size: 14px
          line-height: 16px
@media ( max-width: 750px )
  .advantage
    margin-bottom: 64px
    &-block
      max-width: 100%
      flex-direction: column
      align-items: center
      justify-content: center
      margin: 0
      &__item
        width: 95%
        flex-direction: column
        margin-bottom: 35px
        & > p
          text-align: center
          font-size: 17px
          line-height: 20px
      &__image
        margin-right: 0
        margin-bottom: 16px
