.preference
  margin-bottom: 390px
  &-block
    display: flex
    justify-content: space-between
    align-items: flex-start
    padding-right: 30px
    &__item
      width: 29%
      display: flex
      flex-direction: column
      align-items: flex-start
    &__image
      display: block
      margin-bottom: 17px
    &__title
      margin-top: 0
      margin-bottom: 8px
      width: 78%
      font-size: 24px
      line-height: 28px
      color: #FFFFFF
    &__subtitle
      display: block
      font-size: 18px
      line-height: 23px
      color: #D8D8D8
