.step
  margin-bottom: 110px
  &__title
    margin-top: 0
    margin-bottom: 40px
    font-size: 64px
    line-height: 134.69%
    color: #FFFFFF
    +bold
    & > strong
      color: #3FDB90
  &-block
    display: flex
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap
    position: relative
    padding: 0px 25px
    &__bg
      position: absolute
      top: -32%
      left: -8%
      & > img
        max-width: 110%
    &__item
      display: flex
      flex-direction: column
      align-items: center
      width: 16%
      &__last
        width: 100%
        margin-top: 40px
        margin-left: auto
        margin-right: auto
    &__image
      display: flex
      align-items: center
      justify-content: center
      border: 0.5px solid #FFFFFF
      border-radius: 50%
      padding: 23px
      width: 96px
      height: 96px
      margin-bottom: 17px
    &__text
      width: 100%
      text-align: center
      font-size: 18px
      line-height: 23px
      text-align: center
      color: #D8D8D8
      & > strong
        font-weight: normal
        color: #3FDB90
      &__last
        +bold
    &__arrow
      width: 15%
      position: relative
      top: 40px
      margin-left: -20px
      margin-right: -20px
      & > img
        display: block
        max-width: 100%
